/* Font used for all text in the container */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);/* Reset margins and fill entire space */
html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/* Background image for the page */
	/*background: #254463 url('background.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	/* Page color and font */
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	background-color: #d3d3d3;
}

.header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #c9c9c9;
    background-image: url('../img/background.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

.header .header-content .inner h1 h2 {
    margin-top: 50%;
    margin-bottom: 0;
}

.header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

/* Contains the main content, limits its width, and centers the content */
.container {
	margin: auto;
	max-width: 66%;

	height: 100%;
	width: 100%;

	text-align: center;
	display: table;
}

/* Another container for adding a darkened background and making it fill the entire height */
.container .inner {
	height: 100%;
	display: table-row;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
	background: rgba(0, 0, 0, 0.5);


}

/* Final container for containing the page content, applies padding to the content */
.container .inner .content {
	margin: 0 48px;
	padding: 0 32px 32px 24px;
		    display: table-cell;
    vertical-align: middle

}

/* A bit of resizing of the main content items */
h1 {
	font-size: 3em;}
h2 {
	font-size: 1.8em;
}
p {
	font-size: 1.6em;
}

/* Styling for social icons */
i.fa {
	padding: 0 8px;
	color: #FFF;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
i.fa:hover {
	color: #00C5DB;
}

/* Make the site look better and fit the page on mobile */
@media only screen and (max-width: 900px) {
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.6em;
	}
	p {
		font-size: 1em;
	}
	.container {
		max-width: 90%;
	}
	.container .inner .content {
		margin: 0 16px;
		padding: 0;
		min-width: 320;
	}
	i.fa {
		font-size: 2.5em;
	}
}
